configuration {
    combi-modi: "window,drun,run,ssh,power,emoji";
    modi: "combi,emoji,calc,window,drun,ssh,power:~/.config/rofi/plugins/power/rofi-power-menu";

    location: 0;
    xoffset: 0;
    yoffset: -350;
    width: 900;

    lines: 12;
    show-icons: true;
    terminal: "alacritty";
    fixed-num-lines: false;

    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
}
@import "themes/slate.rasi"
