configuration {
    combi-modi: "window,drun,run,ssh,power,emoji";
    modi: "combi,emoji,calc,window,drun,ssh,power:~/.config/rofi/plugins/power/rofi-power-menu";

    location: 0;
    xoffset: 0;
    yoffset: -200;
    width: 900;

    show-icons: true;
    terminal: "alacritty";
}
@import "themes/slate.rasi"
