configuration {
    combi-modi: "window,drun,ssh";
    modi: "combi,calc,window,drun,ssh";

    location: 0;
    xoffset: 0;
    yoffset: -200;
    width: 900;

    show-icons: true;
    terminal: "alacritty";
}
