#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Vim
Comment=Edit text files in a terminal using Vim
Exec=/usr/bin/alacritty -e vim %u
Terminal=true
Type=Application
Icon=vim.svg
Categories=Application;Utility;TextEditor;
StartupNotify=true
MimeType=text/plain
NoDisplay=true
