[color "diff"]
    meta = cyan dim
    frag = magenta dim
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[commit]
    gpgsign = true
[core]
    pager = /usr/share/git/diff-highlight/diff-highlight | less
    excludesfile = /home/dshoreman/.config/git/gitignore
[help]
    autocorrect = 1
[merge]
    tool = meld
[rerere]
    enabled = true
[user]
    name = Dave Shoreman
    email = dshoreman@users.noreply.github.com
    signingkey = C920D1D63709F443
